<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/logs" method="POST">
        Title: <input type="text" name="title" /><br/> Entry: <input type="text" name="entry" /><br/> Is Broken?<input type="checkbox" name="shipIsBroken" /><br/>
        <input type="submit" value="Create Log" />
    </form>
</body>

</html>